@charset "UTF-8";
/* Could use these, but I think it's clearer using the flex shorthand (below)

@mixin flex-grow($int: 1) {
  -ms-flex : $int;
  flex-grow: $int;
}

@mixin flex-shrink($int: 0) {
  -ms-flex   : $int;
  flex-shrink: $int;
}
*/
.about {
  background-color: #333645;
  text-align: start;
  width: 100%;
}

.aboutContent {
  padding: 50px 15px;
  background-color: #333645;
  color: #fff;
  font-size: 16px;
  text-align: start;
}

.aboutdesc {
  padding: 0px 15px;
  text-align: start;
}

.outCult {
  background-color: #fff;
  color: #333645;
}

.ourCult::after {
  content: " →";
}

.ahead {
  font-size: 36px;
  font-weight: 500;
}

.marginbot {
  margin-bottom: 25px;
}

.ap1 {
  font-weight: 500;
}

buttons .upblubtn {
  background-color: #4183d7;
}
buttons .uppurpbtn {
  background-color: #926fb1;
}

.banner {
  height: 70vh;
  background-image: url("../Images/sliderplaceholder.png");
  background-size: cover;
}

.banner-text {
  color: white;
}

.banner_btn {
  background-color: #926fb1;
}

.banner-section {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
}

.site-logo {
  width: 190px;
  height: auto;
  display: block;
}

.headerpad {
  display: flex;
  justify-content: space-between;
}

.headBtn {
  display: none;
}
@media (min-width: 768px) {
  .headBtn {
    display: flex;
  }
}

.headerpad {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

Header_buttons .supBtn {
  display: inline;
  background-color: #4183d7;
  padding: 5px 15px;
  border: #f1f1f1 1px solid;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  margin-left: 20px;
}
Header_buttons .contBtn {
  background-color: #999aa2;
  padding: 5px 15px;
  border: #f1f1f1 1px solid;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
}

.latestContainer {
  background-color: #fff;
  width: 100%;
  border-bottom: #666 1px solid;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 35px 0px;
}

.latestHeader {
  color: #333645;
  border-bottom: #333645 5px solid;
  max-width: -webkit-fit-content;
  max-width: fit-content;
  text-align: center;
  margin-left: 15%;
  padding: 40px 0px;
}

.img-upd1 {
  background: #fff url("../Images/upd1-img.jpg") no-repeat center;
}
.img-upd2 {
  background: #fff url("../Images/upd2-img.jpg") no-repeat center;
}
.img-upd3 {
  background: #fff url("../Images/upd3-img.jpg") no-repeat center;
}
.img-des {
  width: 100%;
  background-repeat: no-repeat;
  padding-top: 68%;
  background-size: cover;
  background-position: 50%;
}

.upbluhead {
  color: #4183d7;
  font-size: 16px;
}

.uppurphead {
  color: #926fb1;
  font-size: 16px;
}

.updp {
  font-size: 13px;
  color: #666;
}

.flex-direction {
  display: flex;
  flex-direction: row;
}

.cards-decoration {
  border: 1px #926fb1 solid;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #333645;
  width: 100%;
  flex-flow: wrap;
  justify-content: space-evenly;
  display: none;
}

.navsmall {
  font-size: 10px;
}

.navbox {
  display: flex;
  border-left: 1px solid black;
  border-right: 1px solid black;
  color: #fff;
  line-height: 5px;
  justify-content: center;
  align-items: center;
}

.services {
  width: 100%;
}
.services .content-wrapper .flexbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.services .content-wrapper .flexbox [class*=card_] {
  margin: 15px;
  padding: 15px;
  border: rgba(102, 102, 102, 0.4) 1px solid;
  border-radius: 5px;
  box-shadow: 0px 3px 35px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: white;
  font-size: 13px;
}

.btn {
  background-position-x: right;
  display: inline;
  padding: 5px 15px;
  border: #f1f1f1 1px solid;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
  font-size: 17.008px;
  text-align: center;
  letter-spacing: 0.4px;
  line-height: 35px;
}

.content-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0px 15px;
  height: 100%;
}

body {
  background-color: #fff;
  overflow: auto;
  font-family: "Poppins", sans-serif;
}

.nodec {
  text-decoration: none;
}

.formcontent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.user_name {
  display: inline-block;
}

.newsform {
  background: #666;
}

.img-change1bw {
  display: block;
}
.img-change1bw:hover {
  display: none;
}
.img-change1 {
  display: none;
}
.img-change1:hover {
  display: block;
}
.img-change2bw {
  display: block;
}
.img-change2bw:hover {
  display: none;
}
.img-change2 {
  display: none;
}
.img-change2:hover {
  display: block;
}
.img-change3bw {
  display: block;
}
.img-change3bw:hover {
  display: none;
}
.img-change3 {
  display: none;
}
.img-change3:hover {
  display: block;
}
.img-change4bw {
  display: block;
}
.img-change4bw:hover {
  display: none;
}
.img-change4 {
  display: none;
}
.img-change4:hover {
  display: block;
}

.logo-background {
  display: none;
}
.logo-flex {
  flex-direction: row;
}

.footer-content {
  display: flex;
  flex-direction: row;
  background: #333645;
}
.footer-about-dec {
  text-decoration: none;
}
.footer-social {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.icon-des {
  padding: 10px;
  margin: 10px;
}

* {
  border: 1px red;
}