@charset "UTF-8";
* {
  box-sizing: border-box;
}

/* Could use these, but I think it's clearer using the flex shorthand (below)

@mixin flex-grow($int: 1) {
  -ms-flex : $int;
  flex-grow: $int;
}

@mixin flex-shrink($int: 0) {
  -ms-flex   : $int;
  flex-shrink: $int;
}
*/
.card_web {
  box-shadow: 0px 3px 35px rgba(0, 0, 0, 0.1);
}
.card_web i {
  color: white;
  background-color: #926fb1;
}
.card_web a {
  color: white;
  background-color: #926fb1;
}
.card_web:hover {
  background-color: #926fb1;
}
.card_web:hover i, .card_web:hover a {
  color: #926fb1;
}

.news_web .text_container h3 {
  color: #926fb1;
}
.news_web .text_container a {
  background-color: #926fb1;
}
.news_web .text_container a:hover {
  background-color: #79539a;
}

.about_name a {
  background-color: #926fb1;
}
.about_name a:hover {
  background-color: #79539a;
}

.nav_name a {
  background-color: #333645;
}
.nav_name a i {
  background-color: #333645;
}
.nav_name a i:hover i {
  color: white;
}

.card_it {
  box-shadow: 0px 3px 35px rgba(0, 0, 0, 0.1);
}
.card_it i {
  color: white;
  background-color: #4183d7;
}
.card_it a {
  color: white;
  background-color: #4183d7;
}
.card_it:hover {
  background-color: #4183d7;
}
.card_it:hover i, .card_it:hover a {
  color: #4183d7;
}

.news_it .text_container h3 {
  color: #4183d7;
}
.news_it .text_container a {
  background-color: #4183d7;
}
.news_it .text_container a:hover {
  background-color: #286abd;
}

.about_name a {
  background-color: #4183d7;
}
.about_name a:hover {
  background-color: #286abd;
}

.nav_name a {
  background-color: #333645;
}
.nav_name a i {
  background-color: #333645;
}
.nav_name a i:hover i {
  color: white;
}

.card_telecoms {
  box-shadow: 0px 3px 35px rgba(0, 0, 0, 0.1);
}
.card_telecoms i {
  color: white;
  background-color: #d64541;
}
.card_telecoms a {
  color: white;
  background-color: #d64541;
}
.card_telecoms:hover {
  background-color: #d64541;
}
.card_telecoms:hover i, .card_telecoms:hover a {
  color: #d64541;
}

.news_telecoms .text_container h3 {
  color: #d64541;
}
.news_telecoms .text_container a {
  background-color: #d64541;
}
.news_telecoms .text_container a:hover {
  background-color: #bc2c28;
}

.about_name a {
  background-color: #d64541;
}
.about_name a:hover {
  background-color: #bc2c28;
}

.nav_name a {
  background-color: #333645;
}
.nav_name a i {
  background-color: #333645;
}
.nav_name a i:hover i {
  color: white;
}

.card_bespoke {
  box-shadow: 0px 3px 35px rgba(0, 0, 0, 0.1);
}
.card_bespoke i {
  color: white;
  background-color: #67809f;
}
.card_bespoke a {
  color: white;
  background-color: #67809f;
}
.card_bespoke:hover {
  background-color: #67809f;
}
.card_bespoke:hover i, .card_bespoke:hover a {
  color: #67809f;
}

.news_bespoke .text_container h3 {
  color: #67809f;
}
.news_bespoke .text_container a {
  background-color: #67809f;
}
.news_bespoke .text_container a:hover {
  background-color: #526781;
}

.about_name a {
  background-color: #67809f;
}
.about_name a:hover {
  background-color: #526781;
}

.nav_name a {
  background-color: #333645;
}
.nav_name a i {
  background-color: #333645;
}
.nav_name a i:hover i {
  color: white;
}

.card_digital {
  box-shadow: 0px 3px 35px rgba(0, 0, 0, 0.1);
}
.card_digital i {
  color: white;
  background-color: #2eec71;
}
.card_digital a {
  color: white;
  background-color: #2eec71;
}
.card_digital:hover {
  background-color: #2eec71;
}
.card_digital:hover i, .card_digital:hover a {
  color: #2eec71;
}

.news_digital .text_container h3 {
  color: #2eec71;
}
.news_digital .text_container a {
  background-color: #2eec71;
}
.news_digital .text_container a:hover {
  background-color: #25a25a;
}

.about_name a {
  background-color: #2eec71;
}
.about_name a:hover {
  background-color: #25a25a;
}

.nav_name a {
  background-color: #333645;
}
.nav_name a i {
  background-color: #333645;
}
.nav_name a i:hover i {
  color: white;
}

.card_cybers {
  box-shadow: 0px 3px 35px rgba(0, 0, 0, 0.1);
}
.card_cybers i {
  color: white;
  background-color: #f62459;
}
.card_cybers a {
  color: white;
  background-color: #f62459;
}
.card_cybers:hover {
  background-color: #f62459;
}
.card_cybers:hover i, .card_cybers:hover a {
  color: #f62459;
}

.news_cybers .text_container h3 {
  color: #f62459;
}
.news_cybers .text_container a {
  background-color: #f62459;
}
.news_cybers .text_container a:hover {
  background-color: #de093f;
}

.about_name a {
  background-color: #f62459;
}
.about_name a:hover {
  background-color: #de093f;
}

.nav_name a {
  background-color: #333645;
}
.nav_name a i {
  background-color: #333645;
}
.nav_name a i:hover i {
  color: white;
}

.about {
  background-color: #333645;
  text-align: start;
  width: 100%;
}

.aboutContent {
  padding: 50px 15px;
  background-color: #333645;
  color: #fff;
  font-size: 16px;
  text-align: start;
}

.aboutdesc {
  padding: 0px 15px;
  text-align: start;
}

.ourCult {
  background-color: #fff;
  color: #333645;
}
.ourCult:hover {
  background-color: #ebebeb;
  border-color: #e0e0e0;
}

.ourCult::after {
  content: " →";
}

.ahead {
  font-size: 36px;
  font-weight: 500;
}

.marginbot {
  margin-bottom: 25px;
}
@media (min-width: 1218px) {
  .marginbot {
    width: 50%;
  }
}

.ap1 {
  font-weight: 500;
}

buttons .upblubtn {
  background-color: #4183d7;
}
buttons .uppurpbtn {
  background-color: #926fb1;
}

.banner {
  height: 70vh;
  background-image: url("../Images/sliderplaceholder.png");
  background-size: cover;
}

.banner-text {
  color: #fff;
  font-size: 1.25rem;
  line-height: 2.2rem;
  letter-spacing: 0.4px;
  text-align: center;
}
@media (min-width: 998px) {
  .banner-text {
    text-align: left;
  }
}

.banner-section {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 998px) {
  .banner-section {
    margin-left: 0px;
  }
}

.banner-btn {
  text-align: center;
}
@media (min-width: 998px) {
  .banner-btn {
    text-align: left;
  }
}

.banbtn {
  background-color: #926fb1;
  border: 1px #926fb1 solid;
}
.banbtn:hover {
  background-color: #79539a;
  border-color: #79539a;
}

.tint {
  z-index: 0;
  height: 70vh;
  width: 100%;
  position: absolute;
  top: 145px;
  left: 0px;
  background: linear-gradient(90deg, #020024 0%, black 3%, rgba(0, 0, 0, 0) 100%);
}
@media (min-width: 998px) {
  .tint {
    top: 115px;
  }
}
@media (min-width: 1218px) {
  .tint {
    top: 222px;
  }
}

.nomargin_small {
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
@media (min-width: 993px) {
  .nomargin_small {
    width: inherit;
    justify-content: space-evenly;
    margin: 0px 15px;
  }
}
@media (min-width: 1218px) {
  .nomargin_small {
    margin: 0 auto;
  }
}

.header-layout {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 15px 20px;
}
@media (min-width: 768px) {
  .header-layout > * {
    margin-top: auto;
    margin-bottom: auto;
  }
}
.site-logo {
  width: 214px;
  height: 37.5px;
  height: auto;
  display: inline-block;
  margin: 10px 0px 10px -11px;
}
@media (min-width: 768px) {
  .site-logo {
    width: 345px;
  }
}
@media (min-width: 998px) {
  .site-logo {
    width: 375px;
  }
}

.header-mainbtns {
  display: none;
}
@media (min-width: 998px) {
  .header-mainbtns {
    display: flex;
    margin-right: -180px;
    margin-left: 90px;
  }
}
@media (min-width: 1208px) {
  .header-mainbtns {
    margin-left: inherit;
    margin-right: inherit;
  }
}

.supBtn {
  background-color: #4183d7;
  padding: 14.25px 13.5px;
  border: #f1f1f1 1px solid;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  margin-left: 20px;
  height: 56px;
}
.supBtn:hover {
  background-color: #286abd;
}

.contBtn {
  background-color: #999aa2;
  padding: 14.25px 13.5px;
  border: #f1f1f1 1px solid;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  margin-left: 20px;
}
.contBtn:hover {
  background-color: #84858f;
}

.header-mainbtns {
  display: none;
}
@media (min-width: 993px) {
  .header-mainbtns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.header-actionBtn {
  display: flex;
  flex-direction: row;
}
@media (min-width: 998px) {
  .header-actionBtn {
    float: right;
  }
}

.menu_btn {
  background-color: #333645;
  border: 1px solid #333645;
  border-radius: 3px;
  text-align: center;
  padding: 2.5px 10px 2.5px 10px;
  color: white;
  height: 56px;
  margin-right: 40px;
  margin-bottom: 10px;
}
.menu_btn:hover {
  background-color: #22242e;
  cursor: grab;
}
@media (min-width: 768px) {
  .menu_btn {
    margin-right: -14px;
    margin-bottom: 0px;
  }
}

.menu_btn i {
  margin-bottom: 3px;
  font-size: 20px;
}

.menu_btn p {
  font-size: 0.75rem;
  margin: 0px;
  text-transform: uppercase;
}

.phone_btn {
  display: block;
  font-size: 25px;
  background-color: white;
  border: none;
  color: #333645;
  margin-bottom: 10px;
  margin-right: 20px;
}
.phone_btn:hover {
  cursor: not-allowed;
}
@media (min-width: 768px) {
  .phone_btn {
    display: none;
    margin-right: none;
  }
}

.header-search {
  order: 1;
  width: 375px;
}
@media (min-width: 768px) {
  .header-search {
    order: 0;
    width: 238px;
  }
}
@media (min-width: 1208px) {
  .header-search {
    width: 304px;
  }
}

.header-search input[type=text] {
  padding: 6px;
  border-top: 1px solid #999aa2;
  border-left: 1px solid #999aa2;
  border-bottom: 1px solid #999aa2;
  border-right: none;
  border-radius: 2px 0px 0px 2px;
  font-size: 17px;
  width: 295px;
  height: 47px;
  float: left;
  background-color: rgba(0, 0, 0, 0.1);
}
@media (min-width: 768px) {
  .header-search input[type=text] {
    width: 174px;
    height: 56px;
    background-color: white;
    border: 1px solid #999aa2;
  }
}
@media (min-width: 998px) {
  .header-search input[type=text] {
    display: none;
    width: 240px;
    border-radius: 5px 0px 0px 5px;
  }
}
@media (min-width: 1208px) {
  .header-search input[type=text] {
    display: inherit;
  }
}

.header-search button {
  float: left;
  padding: 10px 10px;
  background: rgba(0, 0, 0, 0.1);
  font-size: 17px;
  border-top: 1px solid #999aa2;
  border-right: 1px solid #999aa2;
  border-bottom: 1px solid #999aa2;
  border-left: none;
  border-radius: 0px 2px 2px 0px;
  height: 47px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .header-search button {
    width: 64px;
    height: 56px;
    background-color: #999aa2;
    border: 1px solid #999aa2;
  }
}
@media (min-width: 998px) {
  .header-search button {
    float: right;
    border-radius: 5px 5px 5px 5px;
    background-color: #999aa2;
    height: 56px;
  }
}
@media (min-width: 1208px) {
  .header-search button {
    border-radius: 0px 5px 5px 0px;
  }
}

.header-search button:hover {
  background-color: #666;
}

.search_icn {
  color: #333645;
}
@media (min-width: 768px) {
  .search_icn {
    color: white;
    font-size: 25px;
  }
}

.latestContainer {
  background-color: #fff;
  justify-content: left;
  border-bottom: #666 1px solid;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 35px 0px;
}

.latestHeader {
  color: #333645;
  border-bottom: #333645 5px solid;
  max-width: -webkit-fit-content;
  max-width: fit-content;
  text-align: left;
  padding: 30px 0px;
}

.jl {
  justify-content: left;
}

.news_card_container {
  padding-bottom: 50px;
}
.news_card_container .news_card_width_container {
  padding: 0 20px;
}
.news_card_container .news_card_width_container [class*=news_] {
  margin-top: 30px;
  border-radius: 11px;
  border: solid 1px #999aa2;
}
.news_card_container .news_card_width_container [class*=news_] .image_container {
  overflow: hidden;
  position: relative;
}
.news_card_container .news_card_width_container [class*=news_] .image_container img {
  transition: transform 0.5s ease;
}
.news_card_container .news_card_width_container [class*=news_] .image_container img:hover {
  transform: scale(1.1);
  opacity: 0.75;
}
.news_card_container .news_card_width_container [class*=news_] .image_container img {
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  width: 100%;
}
.news_card_container .news_card_width_container [class*=news_] .image_container a {
  position: absolute;
  z-index: 1;
  color: white;
  font-size: 0.75rem;
  line-height: 1.438rem;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #4183d7;
  width: 57px;
  height: 23px;
  padding: 0 10px;
  border: 1px #4183d7;
  top: 10px;
  right: 0px;
}
.news_card_container .news_card_width_container [class*=news_] .image_container a:hover {
  text-decoration: underline;
}
.news_card_container .news_card_width_container [class*=news_] .text_container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.news_card_container .news_card_width_container [class*=news_] .text_container h3 {
  margin: 0;
  padding: 0;
}
.news_card_container .news_card_width_container [class*=news_] .text_container p {
  color: #666;
  margin-bottom: 30px;
}
.news_card_container .news_card_width_container [class*=news_] .text_container a {
  width: 110px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  padding: 10px;
  border-radius: 2px;
}
.news_card_container .news_card_width_container [class*=news_] .text_container .text_underline {
  height: 1px;
  width: 100%;
  margin: 30px 0px;
  background-color: #666;
}
.news_card_container .news_card_width_container [class*=news_] .text_container .publish_information {
  display: flex;
  flex-direction: row;
}
.news_card_container .news_card_width_container [class*=news_] .text_container .publish_information img {
  max-width: 50px;
  max-height: 50px;
  margin-right: 20px;
  border-radius: 100%;
}
.news_card_container .news_card_width_container [class*=news_] .text_container .publish_information > div h4 {
  margin: 0px 0px 10px;
  padding: 0;
}
.news_card_container .news_card_width_container [class*=news_] .text_container .publish_information > div p {
  padding: 0;
  margin: 0;
}

@media (min-width: 768px) {
  .news_card_container .news_card_width_container {
    margin: 0 auto;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .news_card_container .news_card_width_container [class*=news_] {
    width: 45vw;
  }
  .news_card_container .news_card_width_container [class*=news_]:last-of-type {
    display: none;
  }
}
@media (min-width: 993px) {
  .news_card_container .news_card_width_container {
    width: 975px;
  }
  .news_card_container .news_card_width_container [class*=news_] {
    width: 300px;
  }
  .news_card_container .news_card_width_container [class*=news_]:last-of-type {
    display: block;
  }
}
@media (min-width: 1218px) {
  .news_card_container .news_card_width_container {
    width: 1200px;
  }
  .news_card_container .news_card_width_container [class*=news_] {
    width: 30%;
  }
}
.newsshadow_1 {
  box-shadow: 10px 0 20px -20px #000;
}
.newsshadow_2 {
  box-shadow: 10px 0 20px -20px #000;
  box-shadow: -10px 0 20px -20px #000;
}
.newsshadow_3 {
  box-shadow: -10px 0 20px -20px #000;
}

.dropdown-display {
  visibility: hidden;
  position: absolute;
}

.dropdown-display {
  width: 80vw;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}

.dropdown-display > li {
  position: relative;
  margin-right: 5px;
  font-size: 1rem;
  text-transform: uppercase;
  color: white;
}
.dropdown-display > li li::after {
  content: "";
  position: absolute;
  right: -37px;
  top: 9px;
  margin: auto;
  width: 15px;
  height: 2px;
  display: block;
  background-color: white;
}

ul {
  list-style-type: none;
}

.nav_txtdec {
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

.hover-dropdown:hover > ul {
  visibility: visible;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.navbar-layout {
  display: flex;
  flex-direction: row;
}
.navbar-container {
  z-index: 1;
  display: none;
  margin: 0 auto;
}
@media (min-width: 990px) {
  .navbar-container {
    display: block;
  }
}

.navbar-layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto 1px;
  padding-right: 40px;
}

.hover-dropdown {
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  width: 192.667px;
  background-color: #333645;
}

.navbar-container {
  position: relative;
  display: none;
  background-color: #333645;
}
@media (min-width: 993px) {
  .navbar-container {
    display: block;
  }
}

.navtitle_des {
  color: white;
}

.dropdown-layout {
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  height: 100%;
}
.dropdown-layout > li {
  margin: auto 0;
  position: relative;
}

.dc_it {
  visibility: hidden;
  left: 0%;
  width: 100vw;
  height: 45px;
  background-color: #4183d7;
}

.dc {
  visibility: hidden;
  left: 0%;
  width: 100vw;
  height: 45px;
}
.dc_web {
  background-color: #926fb1;
}
.dc_it {
  background-color: #4183d7;
}
.dc_telecoms {
  background-color: #d64541;
}
.dc_bespoke {
  background-color: #67809f;
}
.dc_digital {
  background-color: #2ecc71;
}
.dc_cybers {
  background-color: #f62459;
}
.dc > li {
  width: 1200px;
  margin: 0 auto;
  align-content: center;
}
.dc > div {
  height: 100%;
}

.dc:hover > ul {
  visibility: visible;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  left: 40%;
}

.nav_webhover:hover {
  background-color: #926fb1;
}
.nav_webhover:hover i {
  color: white;
}
.nav_ithover:hover {
  background-color: #4183d7;
}
.nav_ithover:hover i {
  color: white;
}
.nav_telecomshover:hover {
  background-color: #d64541;
}
.nav_telecomshover:hover i {
  color: white;
}
.nav_bespokehover:hover {
  background-color: #67809f;
}
.nav_bespokehover:hover i {
  color: white;
}
.nav_digitalhover:hover {
  background-color: #2ecc71;
}
.nav_digitalhover:hover i {
  color: white;
}
.nav_cybershover:hover {
  background-color: #f62459;
}
.nav_cybershover:hover i {
  color: white;
}

.icn_web {
  color: #926fb1;
}
.icn_it {
  color: #4183d7;
}
.icn_telecoms {
  color: #d64541;
}
.icn_bespoke {
  color: #67809f;
}
.icn_digital {
  color: #2ecc71;
}
.icn_cybers {
  color: #f62459;
}

.services {
  width: calc(100vw - 18px);
}
.services .content-wrapper .flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 30px;
  padding-bottom: 30px;
}
.services .content-wrapper .flexbox [class*=card_] {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 100%;
  padding: 30px;
  margin-top: 30px;
  font-size: 13px;
  border: rgba(102, 102, 102, 0.4) 1px solid;
  border-radius: 5px;
  text-align: center;
  height: 334.8px;
}
.services .content-wrapper .flexbox [class*=card_] i {
  display: block;
  font-size: 20px;
  line-height: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 auto;
}
.services .content-wrapper .flexbox [class*=card_] .icon_underline {
  background-color: #333645;
  width: 30px;
  height: 3px;
  margin: 20px auto 0;
}
.services .content-wrapper .flexbox [class*=card_] h3, .services .content-wrapper .flexbox [class*=card_] p {
  color: #333645;
}
.services .content-wrapper .flexbox [class*=card_] a {
  display: block;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 129px;
  height: 46px;
  line-height: 46px;
  text-decoration: none;
  border-radius: 5px;
  margin: 0 auto;
  font-size: 17px;
}
.services .content-wrapper .flexbox [class*=card_]:hover i, .services .content-wrapper .flexbox [class*=card_]:hover a, .services .content-wrapper .flexbox [class*=card_]:hover .icon_underline {
  background-color: white;
}
.services .content-wrapper .flexbox [class*=card_]:hover h3, .services .content-wrapper .flexbox [class*=card_]:hover p {
  color: white;
}

@media (min-width: 768px) {
  .services .content-wrapper {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
  }
  .services .content-wrapper .flexbox {
    flex-direction: row;
    justify-content: space-between;
    align-content: top;
  }
  .services .content-wrapper .flexbox .card_web,
.services .content-wrapper .flexbox .card_telecoms,
.services .content-wrapper .flexbox .card_cybers {
    width: 345px;
    height: 309px;
  }
}
@media (min-width: 993px) {
  .services .content-wrapper {
    width: 975px;
  }
  .services .content-wrapper .flexbox .card_bespoke,
.services .content-wrapper .flexbox .card_it,
.services .content-wrapper .flexbox .card_digital {
    width: 293px;
    height: 351px;
  }
  .services .content-wrapper .flexbox .card_web,
.services .content-wrapper .flexbox .card_telecoms,
.services .content-wrapper .flexbox .card_cybers {
    width: 455px;
    height: 287px;
  }
}
@media (min-width: 1218px) {
  .services .content-wrapper {
    width: 1200px;
  }
  .services .content-wrapper .flexbox .card_bespoke,
.services .content-wrapper .flexbox .card_it,
.services .content-wrapper .flexbox .card_digital {
    width: 370px;
    height: 309px;
  }
  .services .content-wrapper .flexbox .card_web,
.services .content-wrapper .flexbox .card_telecoms,
.services .content-wrapper .flexbox .card_cybers {
    width: 270px;
    height: 309px;
  }
}
.btn {
  background-position-x: right;
  display: inline;
  padding: 5px 15px;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
  font-size: 17.008px;
  text-align: center;
  letter-spacing: 0.4px;
  line-height: 35px;
}

.content-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.content-sizing {
  margin: 0 auto;
  height: 100%;
}
@media (min-width: 998px) {
  .content-sizing {
    width: 80vw;
    justify-content: space-evenly;
  }
}
@media (min-width: 1218px) {
  .content-sizing {
    margin: 0 auto;
    width: 1200px;
  }
}

body {
  background-color: #fff;
  overflow: auto;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.nodec {
  text-decoration: none;
}

.formcontent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.user_name {
  display: inline-block;
}

.newsform {
  background: #666;
}

.form-background {
  background-color: #ddd;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.form-content {
  display: flex;
  flex-direction: column;
}
.form-title {
  font-size: 1.5rem;
  font-weight: 400;
}
.form-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.form-wrapperout {
  padding: 50px 30px;
}

.user_name {
  width: 285px;
}

@media (min-width: 1218px) {
  .query_form_n {
    width: 45%;
    float: left;
  }
}
@media (min-width: 1218px) {
  .query_form_e {
    width: 45%;
    float: left;
    margin-left: 5%;
  }
}
@media (min-width: 1218px) {
  .query_form_c {
    float: right;
  }
}

.user_name {
  width: 100%;
  height: 47px;
  margin-bottom: 30px;
}
.user_email {
  width: 100%;
  height: 47px;
  margin-bottom: 30px;
}
.user_checkbox {
  display: inline-block;
  background-color: #ddd;
  border: 3px solid #333645;
  border-radius: 3px;
  height: 32px;
  width: 32px;
  float: left;
  margin-right: 20px;
}
.user_checkbox:active {
  background-color: #333645;
}

.checkbox_text {
  width: 80%;
  float: right;
  letter-spacing: 0.4px;
  line-height: 32px;
  font-size: 1rem;
  font-weight: bold;
}
@media (min-width: 768px) {
  .checkbox_text {
    float: left;
  }
}
@media (min-width: 1218px) {
  .checkbox_text {
    margin-top: -8px;
  }
}

.required {
  color: red;
}

.submit_btn {
  margin-top: 20px;
  background-color: #333645;
  color: white;
  border: 1px solid #333645;
  border-radius: 3px;
  text-transform: uppercase;
  padding: 10px 20px;
  font-size: 1.063rem;
}
@media (min-width: 768px) {
  .submit_btn {
    margin-top: 40px;
  }
}
@media (min-width: 1218px) {
  .submit_btn {
    margin-top: -2px;
    float: right;
  }
}

.logo-background {
  padding: 50px 0px;
  box-shadow: inset 0px 20px 19px rgba(102, 102, 102, 0.09);
  display: none;
}
@media (min-width: 768px) {
  .logo-background {
    display: block;
  }
}
.logo-wrapper {
  padding: 50px;
  max-width: 1200px;
}

[class*=image_box_] img:first-of-type {
  display: block;
}
[class*=image_box_] img:last-of-type {
  display: none;
}
[class*=image_box_]:hover img:first-of-type {
  display: none;
}
[class*=image_box_]:hover img:first-of-type .tooltip:hover .tooltiptext {
  visibility: visible;
}
[class*=image_box_]:hover img:last-of-type {
  display: block;
}

.image_busseys {
  width: 121.15px;
}
@media (min-width: 993px) {
  .image_busseys {
    width: 168.75px;
  }
}
@media (min-width: 1218px) {
  .image_busseys {
    width: 188px;
  }
}
.image_crane {
  width: 184.95px;
}
@media (min-width: 993px) {
  .image_crane {
    width: 257.6px;
  }
}
@media (min-width: 1218px) {
  .image_crane {
    width: 287px;
  }
}
.image_beat {
  width: 46.4px;
}
@media (min-width: 993px) {
  .image_beat {
    width: 64.63px;
  }
}
@media (min-width: 1218px) {
  .image_beat {
    width: 72px;
  }
}
.image_northerndiver {
  width: 207.5px;
}
@media (min-width: 993px) {
  .image_northerndiver {
    width: 289.017px;
  }
}
@media (min-width: 1218px) {
  .image_northerndiver {
    width: 322px;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #333645;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 2px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  width: 260px;
  bottom: 170%;
  left: 10%;
  margin-left: -60px;
}

.tooltip2 .tooltiptext2 {
  visibility: hidden;
  width: 260px;
  background-color: #333645;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 2px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  width: 260px;
  bottom: 100%;
  left: 10%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.logo_line {
  margin: 0 auto;
  background-color: white;
  width: 25px;
  height: 3px;
}

footer {
  background-color: #333645;
  height: 1000px;
}
@media (min-width: 768px) {
  footer {
    height: 568px;
  }
}

.footer-content {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: space-evenly;
  padding: 47px 0px 43px;
  flex-wrap: wrap;
  height: 100%;
}
@media (min-width: 1218px) {
  .footer-content {
    flex-direction: row;
  }
}
.footer-contact {
  padding: 0px 15px;
}
.footer-about {
  display: flex;
  flex-direction: column;
  padding: 0px 15px;
}
.footer-about-dec {
  text-decoration: none;
  color: white;
  line-height: 1.375rem;
}
.footer-site {
  text-decoration: none;
  padding: 0px 15px;
}
.footer-social {
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.footer-social-facebook {
  background: transparent;
  background-color: rgba(0, 0, 0, 0.25);
  display: block;
  font-size: 1.75rem;
  line-height: 3.438rem;
  color: white;
  text-align: center;
  text-decoration: none;
}
.footer-social-facebook:hover {
  background-color: #3b5998;
}
.footer-social-twitter {
  background: transparent;
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.25);
  display: block;
  font-size: 1.75rem;
  line-height: 3.438rem;
  color: white;
  text-align: center;
  text-decoration: none;
}
.footer-social-twitter:hover {
  background-color: #1DA1F2;
}
.footer-social-linkedin {
  background: transparent;
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.25);
  display: block;
  font-size: 1.75rem;
  line-height: 3.438rem;
  color: white;
  text-align: center;
  text-decoration: none;
}
.footer-social-linkedin:hover {
  background-color: #0072b1;
}
.footersbutton {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.footer-list {
  list-style-type: none;
  padding: 0px;
}

.icon-des {
  padding: 10px;
  margin: 10px;
}