@import "partials/about.scss",
 "partials/banner.scss",
  "partials/header.scss",
   "partials/latest.scss",
    "partials/navbar.scss",
     "partials/services.scss",
      "partials/universal.scss",
      "partials/oldstyle.scss",
      "partials/form.scss",
      "partials/breakpoints.scss",
      "partials/colours.scss",
      "partials/logos.scss";