* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Could use these, but I think it's clearer using the flex shorthand (below)
  
  @mixin flex-grow($int: 1) {
    -ms-flex : $int;
    flex-grow: $int;
  }
  
  @mixin flex-shrink($int: 0) {
    -ms-flex   : $int;
    flex-shrink: $int;
  }
  */
.card_web {
  -webkit-box-shadow: 0px 3px 35px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 35px rgba(0, 0, 0, 0.1);
}

.card_web i {
  color: white;
  background-color: #926fb1;
}

.card_web a {
  color: white;
  background-color: #926fb1;
}

.card_web:hover {
  background-color: #926fb1;
}

.card_web:hover i, .card_web:hover a {
  color: #926fb1;
}

.news_web .text_container h3 {
  color: #926fb1;
}

.news_web .text_container a {
  background-color: #926fb1;
}

.news_web .text_container a:hover {
  background-color: #79539a;
}

.about_name a {
  background-color: #926fb1;
}

.about_name a:hover {
  background-color: #79539a;
}

.nav_name a {
  background-color: #333645;
}

.nav_name a i {
  background-color: #333645;
}

.nav_name a i:hover i {
  color: white;
}

.card_it {
  -webkit-box-shadow: 0px 3px 35px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 35px rgba(0, 0, 0, 0.1);
}

.card_it i {
  color: white;
  background-color: #4183d7;
}

.card_it a {
  color: white;
  background-color: #4183d7;
}

.card_it:hover {
  background-color: #4183d7;
}

.card_it:hover i, .card_it:hover a {
  color: #4183d7;
}

.news_it .text_container h3 {
  color: #4183d7;
}

.news_it .text_container a {
  background-color: #4183d7;
}

.news_it .text_container a:hover {
  background-color: #286abd;
}

.about_name a {
  background-color: #4183d7;
}

.about_name a:hover {
  background-color: #286abd;
}

.nav_name a {
  background-color: #333645;
}

.nav_name a i {
  background-color: #333645;
}

.nav_name a i:hover i {
  color: white;
}

.card_telecoms {
  -webkit-box-shadow: 0px 3px 35px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 35px rgba(0, 0, 0, 0.1);
}

.card_telecoms i {
  color: white;
  background-color: #d64541;
}

.card_telecoms a {
  color: white;
  background-color: #d64541;
}

.card_telecoms:hover {
  background-color: #d64541;
}

.card_telecoms:hover i, .card_telecoms:hover a {
  color: #d64541;
}

.news_telecoms .text_container h3 {
  color: #d64541;
}

.news_telecoms .text_container a {
  background-color: #d64541;
}

.news_telecoms .text_container a:hover {
  background-color: #bc2c28;
}

.about_name a {
  background-color: #d64541;
}

.about_name a:hover {
  background-color: #bc2c28;
}

.nav_name a {
  background-color: #333645;
}

.nav_name a i {
  background-color: #333645;
}

.nav_name a i:hover i {
  color: white;
}

.card_bespoke {
  -webkit-box-shadow: 0px 3px 35px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 35px rgba(0, 0, 0, 0.1);
}

.card_bespoke i {
  color: white;
  background-color: #67809f;
}

.card_bespoke a {
  color: white;
  background-color: #67809f;
}

.card_bespoke:hover {
  background-color: #67809f;
}

.card_bespoke:hover i, .card_bespoke:hover a {
  color: #67809f;
}

.news_bespoke .text_container h3 {
  color: #67809f;
}

.news_bespoke .text_container a {
  background-color: #67809f;
}

.news_bespoke .text_container a:hover {
  background-color: #526781;
}

.about_name a {
  background-color: #67809f;
}

.about_name a:hover {
  background-color: #526781;
}

.nav_name a {
  background-color: #333645;
}

.nav_name a i {
  background-color: #333645;
}

.nav_name a i:hover i {
  color: white;
}

.card_digital {
  -webkit-box-shadow: 0px 3px 35px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 35px rgba(0, 0, 0, 0.1);
}

.card_digital i {
  color: white;
  background-color: #2eec71;
}

.card_digital a {
  color: white;
  background-color: #2eec71;
}

.card_digital:hover {
  background-color: #2eec71;
}

.card_digital:hover i, .card_digital:hover a {
  color: #2eec71;
}

.news_digital .text_container h3 {
  color: #2eec71;
}

.news_digital .text_container a {
  background-color: #2eec71;
}

.news_digital .text_container a:hover {
  background-color: #25a25a;
}

.about_name a {
  background-color: #2eec71;
}

.about_name a:hover {
  background-color: #25a25a;
}

.nav_name a {
  background-color: #333645;
}

.nav_name a i {
  background-color: #333645;
}

.nav_name a i:hover i {
  color: white;
}

.card_cybers {
  -webkit-box-shadow: 0px 3px 35px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 35px rgba(0, 0, 0, 0.1);
}

.card_cybers i {
  color: white;
  background-color: #f62459;
}

.card_cybers a {
  color: white;
  background-color: #f62459;
}

.card_cybers:hover {
  background-color: #f62459;
}

.card_cybers:hover i, .card_cybers:hover a {
  color: #f62459;
}

.news_cybers .text_container h3 {
  color: #f62459;
}

.news_cybers .text_container a {
  background-color: #f62459;
}

.news_cybers .text_container a:hover {
  background-color: #de093f;
}

.about_name a {
  background-color: #f62459;
}

.about_name a:hover {
  background-color: #de093f;
}

.nav_name a {
  background-color: #333645;
}

.nav_name a i {
  background-color: #333645;
}

.nav_name a i:hover i {
  color: white;
}

.about {
  background-image: url("../../Images/branded.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-color: #333645;
  background-position: right;
  width: 100%;
  text-align: start;
}

.aboutContent {
  padding: 50px 15px 90px;
  color: #fff;
  font-size: 16px;
  text-align: start;
  line-height: 1.875rem;
}

.aboutContent i {
  margin-left: 12px;
  margin-right: -4px;
}

.aboutdesc {
  padding: 0px 15px;
  text-align: start;
}

.ourCult {
  background-color: #fff;
  color: #333645;
}

.ourCult:hover {
  background-color: #ebebeb;
  border-color: #e0e0e0;
}

.ahead {
  font-size: 36px;
  font-weight: 500;
  padding: 10px 15px;
}

.marginbot {
  margin-bottom: 25px;
}

@media (min-width: 1218px) {
  .marginbot {
    width: 50%;
  }
}

.ap1 {
  font-weight: 500;
}

buttons .upblubtn {
  background-color: #4183d7;
}

buttons .uppurpbtn {
  background-color: #926fb1;
}

.banner-text {
  color: #fff;
  font-size: 1.25rem;
  line-height: 2.2rem;
  letter-spacing: .4px;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
}

.banner-text h1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 500;
}

.banner-text p {
  font-weight: 400;
}

@media (min-width: 998px) {
  .banner-text {
    text-align: left;
    left: 10vw;
  }
}

.positioning-web {
  margin-left: -189.125px;
}

@media (min-width: 768px) {
  .positioning-web {
    margin-left: -207.65px;
  }
}

@media (min-width: 998px) {
  .positioning-web {
    margin-left: 0px;
  }
}

.positioning-it {
  margin-left: -174.6165px;
}

@media (min-width: 998px) {
  .positioning-it {
    margin-left: 0px;
  }
}

.positioning-telecoms {
  width: 350px;
  margin-left: -175px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .positioning-telecoms {
    margin-left: -237.9665px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

@media (min-width: 998px) {
  .positioning-telecoms {
    margin-left: 0px;
  }
}

.positioning-bespoke {
  margin-left: -182.8085px;
}

@media (min-width: 768px) {
  .positioning-bespoke {
    margin-left: -234.7085px;
  }
}

@media (min-width: 998px) {
  .positioning-bespoke {
    margin-left: 0px;
  }
}

.positioning-digital {
  width: 365px;
  margin-left: -182.5px;
}

@media (min-width: 768px) {
  .positioning-digital {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: -229.325px;
  }
}

@media (min-width: 998px) {
  .positioning-digital {
    margin-left: 0px;
  }
}

.positioning-cybers {
  width: 365px;
  margin-left: -182.5px;
}

@media (min-width: 768px) {
  .positioning-cybers {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: -209.85px;
  }
}

@media (min-width: 998px) {
  .positioning-cybers {
    margin-left: 0px;
  }
}

.banner-section-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: auto;
  margin-left: auto;
  background-size: cover;
  height: 76vh;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(3%, black), to(rgba(0, 0, 0, 0))), url("../../Images/home-3wAI.jpg") no-repeat;
  background: linear-gradient(90deg, #020024 0%, black 3%, rgba(0, 0, 0, 0) 100%), url("../../Images/home-3wAI.jpg") no-repeat;
}

@media (min-width: 998px) {
  .banner-section-1 {
    margin-left: 0px;
  }
}

.banner-section-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: auto;
  margin-left: auto;
  background-size: cover;
  height: 76vh;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(3%, black), to(rgba(0, 0, 0, 0))), url("../../Images/home-57sJ.jpg") no-repeat;
  background: linear-gradient(90deg, #020024 0%, black 3%, rgba(0, 0, 0, 0) 100%), url("../../Images/home-57sJ.jpg") no-repeat;
}

@media (min-width: 998px) {
  .banner-section-2 {
    margin-left: 0px;
  }
}

.banner-section-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: auto;
  margin-left: auto;
  background-size: cover;
  height: 76vh;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(3%, black), to(rgba(0, 0, 0, 0))), url("../../Images/home-5yqm.jpg") no-repeat;
  background: linear-gradient(90deg, #020024 0%, black 3%, rgba(0, 0, 0, 0) 100%), url("../../Images/home-5yqm.jpg") no-repeat;
}

@media (min-width: 998px) {
  .banner-section-3 {
    margin-left: 0px;
  }
}

.banner-section-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: auto;
  margin-left: auto;
  background-size: cover;
  height: 76vh;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(3%, black), to(rgba(0, 0, 0, 0))), url("../../Images/home-sqvx.jpg") no-repeat;
  background: linear-gradient(90deg, #020024 0%, black 3%, rgba(0, 0, 0, 0) 100%), url("../../Images/home-sqvx.jpg") no-repeat;
}

@media (min-width: 998px) {
  .banner-section-4 {
    margin-left: 0px;
  }
}

.banner-section-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: auto;
  margin-left: auto;
  background-size: cover;
  height: 76vh;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(3%, black), to(rgba(0, 0, 0, 0))), url("../../Images/home-JQsO.jpg") no-repeat;
  background: linear-gradient(90deg, #020024 0%, black 3%, rgba(0, 0, 0, 0) 100%), url("../../Images/home-JQsO.jpg") no-repeat;
}

@media (min-width: 998px) {
  .banner-section-5 {
    margin-left: 0px;
  }
}

.banner-section-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: auto;
  margin-left: auto;
  background-size: cover;
  height: 76vh;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(3%, black), to(rgba(0, 0, 0, 0))), url("../../Images/home-lQs1.jpg") no-repeat;
  background: linear-gradient(90deg, #020024 0%, black 3%, rgba(0, 0, 0, 0) 100%), url("../../Images/home-lQs1.jpg") no-repeat;
}

@media (min-width: 998px) {
  .banner-section-6 {
    margin-left: 0px;
  }
}

.banner-btn {
  top: 74%;
  left: 50%;
  margin-left: -109px;
  position: absolute;
  text-align: center;
}

@media (min-width: 769px) {
  .banner-btn {
    top: 55%;
    margin-left: 0px;
  }
}

@media (min-width: 998px) {
  .banner-btn {
    text-align: left;
    left: 10vw;
  }
}

.banbtn_web a {
  background-color: #926fb1;
  background-position-x: right;
  display: inline;
  padding: 10px 20px;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
  font-size: 1.25rem;
  text-align: center;
  letter-spacing: 0.4px;
  line-height: 35px;
  text-transform: uppercase;
}

.banbtn_web a:hover {
  background-color: #79539a;
}

.banbtn_it a {
  background-color: #4183d7;
  background-position-x: right;
  display: inline;
  padding: 10px 20px;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
  font-size: 1.25rem;
  text-align: center;
  letter-spacing: 0.4px;
  line-height: 35px;
  text-transform: uppercase;
}

.banbtn_it a:hover {
  background-color: #286abd;
}

.banbtn_telecoms a {
  background-color: #d64541;
  background-position-x: right;
  display: inline;
  padding: 10px 20px;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
  font-size: 1.25rem;
  text-align: center;
  letter-spacing: 0.4px;
  line-height: 35px;
  text-transform: uppercase;
}

.banbtn_telecoms a:hover {
  background-color: #bc2c28;
}

.banbtn_telecoms a {
  background-color: #d64541;
  background-position-x: right;
  display: inline;
  padding: 10px 20px;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
  font-size: 1.25rem;
  text-align: center;
  letter-spacing: 0.4px;
  line-height: 35px;
  text-transform: uppercase;
}

.banbtn_telecoms a:hover {
  background-color: #bc2c28;
}

.banbtn_bespoke a {
  background-color: #67809f;
  background-position-x: right;
  display: inline;
  padding: 10px 20px;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
  font-size: 1.25rem;
  text-align: center;
  letter-spacing: 0.4px;
  line-height: 35px;
  text-transform: uppercase;
}

.banbtn_bespoke a:hover {
  background-color: #526781;
}

.banbtn_digital a {
  background-color: #2ecc71;
  background-position-x: right;
  display: inline;
  padding: 10px 20px;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
  font-size: 1.25rem;
  text-align: center;
  letter-spacing: 0.4px;
  line-height: 35px;
  text-transform: uppercase;
}

.banbtn_digital a:hover {
  background-color: #25a25a;
}

.banbtn_cybers a {
  background-color: #f62459;
  background-position-x: right;
  display: inline;
  padding: 10px 20px;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
  font-size: 1.25rem;
  text-align: center;
  letter-spacing: 0.4px;
  line-height: 35px;
  text-transform: uppercase;
}

.banbtn_cybers a:hover {
  background-color: #de093f;
}

.tint {
  z-index: 1;
  height: 72vh;
  width: 100%;
}

@media (min-width: 769px) {
  .tint {
    height: 54vh;
  }
}

@media (min-width: 998px) {
  .tint {
    top: 115px;
    height: 54vh;
  }
}

@media (min-width: 1218px) {
  .tint {
    top: 222px;
    height: 74vh;
  }
}

ul.splide_pagination:nth-child(5) {
  margin-right: 0px;
  padding-right: 0px;
}

/* splide.min.css | http://127.0.0.1:5502/splide/splide.min.css */
.splide__pagination__page {
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

#splide01 {
  margin-top: -18px;
}

.splide_arrow {
  visibility: hidden;
}

.nomargin_small {
  margin: 0;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  height: 100%;
}

@media (min-width: 993px) {
  .nomargin_small {
    width: inherit;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 0px 15px;
  }
}

@media (min-width: 1218px) {
  .nomargin_small {
    margin: 0 auto;
  }
}

.header-logo {
  margin-left: 8px;
}

@media (min-width: 768px) {
  .header-logo {
    margin-left: 0;
  }
}

.header-layout {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 0px;
  margin-left: 10px;
  padding-top: 15px;
}

@media (min-width: 768px) {
  .header-layout {
    padding: 15px 20px;
  }
  .header-layout > * {
    margin-top: auto;
    margin-bottom: auto;
  }
}

.site-logo {
  width: 214px;
  height: 37.5px;
  height: auto;
  display: inline-block;
  margin: 10px 0px 10px -11px;
}

@media (min-width: 768px) {
  .site-logo {
    width: 345px;
  }
}

@media (min-width: 998px) {
  .site-logo {
    width: 375px;
  }
}

.header-mainbtns {
  display: none;
}

@media (min-width: 998px) {
  .header-mainbtns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: -180px;
    margin-left: 90px;
  }
}

@media (min-width: 1208px) {
  .header-mainbtns {
    margin-left: inherit;
    margin-right: inherit;
  }
}

.supBtn {
  background-color: #4183d7;
  padding: 14.25px 13.5px;
  border: #f1f1f1 1px solid;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  margin-left: 20px;
  height: 56px;
}

.supBtn:hover {
  background-color: #286abd;
}

.contBtn {
  background-color: #999aa2;
  padding: 14.25px 13.5px;
  border: #f1f1f1 1px solid;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  margin-left: 20px;
}

.contBtn:hover {
  background-color: #84858f;
}

.header-mainbtns {
  display: none;
}

@media (min-width: 993px) {
  .header-mainbtns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header-actionBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (min-width: 998px) {
  .header-actionBtn {
    float: right;
  }
}

.menu_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #333645;
  border: 1px solid #333645;
  border-radius: 3px;
  text-align: center;
  padding: 2.5px 10px 2.5px 10px;
  color: white;
  height: 56px;
  margin-right: 30px;
  margin-bottom: 10px;
  width: 60px;
  padding: 0 auto;
}

.menu_btn:hover {
  background-color: #22242e;
  cursor: pointer;
}

@media (min-width: 768px) {
  .menu_btn {
    margin-right: -14px;
    margin-bottom: 0px;
  }
}

.container {
  display: inline-block;
  cursor: pointer;
  width: 33px;
  height: 19px;
}

.bar1, .bar2, .bar3 {
  width: 33px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-225deg) translate(7px, -7px);
  transform: rotate(-225deg) translate(7px, -7px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(225deg) translate(6px, 5px);
  transform: rotate(225deg) translate(6px, 5px);
}

.menu_btn > div {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.menu_btn > div:nth-child(2) {
  margin-top: 15px;
}

.phone_btn {
  display: block;
  font-size: 25px;
  background-color: white;
  border: none;
  color: #333645;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 6px;
}

.phone_btn:hover {
  cursor: not-allowed;
}

@media (min-width: 768px) {
  .phone_btn {
    display: none;
    margin-right: none;
    margin-left: 0;
  }
}

.header-search {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 375px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .header-search {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    width: 238px;
    margin-bottom: auto;
  }
}

@media (min-width: 1208px) {
  .header-search {
    width: 304px;
  }
}

.header-search input[type=text] {
  padding: 6px;
  border-top: 1px solid #999aa2;
  border-left: 1px solid #999aa2;
  border-bottom: 1px solid #999aa2;
  border-right: none;
  border-radius: 2px 0px 0px 2px;
  font-size: 17px;
  width: 295px;
  height: 47px;
  float: left;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.header-search input[type=text]:focus {
  border: #5bc0de;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(91, 192, 222, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(91, 192, 222, 0.6);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

@media (min-width: 768px) {
  .header-search input[type=text] {
    width: 174px;
    height: 56px;
    background-color: white;
    border: 1px solid #999aa2;
  }
}

@media (min-width: 998px) {
  .header-search input[type=text] {
    display: none;
    width: 240px;
  }
}

@media (min-width: 1208px) {
  .header-search input[type=text] {
    display: inherit;
  }
}

.header-search button {
  float: left;
  padding: 10px 10px;
  background: rgba(0, 0, 0, 0.1);
  font-size: 17px;
  border-top: 1px solid #999aa2;
  border-right: 1px solid #999aa2;
  border-bottom: 1px solid #999aa2;
  border-left: none;
  border-radius: 0px 2px 2px 0px;
  height: 47px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .header-search button {
    width: 64px;
    height: 56px;
    background-color: #999aa2;
    border: 1px solid #999aa2;
  }
}

@media (min-width: 998px) {
  .header-search button {
    float: right;
    border-radius: 5px 5px 5px 5px;
    background-color: #999aa2;
    height: 56px;
  }
}

@media (min-width: 1208px) {
  .header-search button {
    border-radius: 0px 5px 5px 0px;
  }
}

.header-search button:hover {
  background-color: #666;
}

.search_icn {
  color: #333645;
}

@media (min-width: 768px) {
  .search_icn {
    color: white;
    font-size: 25px;
  }
}

.latestContainer {
  background-color: #fff;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  border-bottom: #666 1px solid;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 35px 0px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 35px 0px;
}

.latestHeader {
  color: #333645;
  border-bottom: #333645 5px solid;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  text-align: left;
  margin-left: 15%;
  padding: 30px 0px;
}

.jl {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.news_card_container {
  padding-bottom: 50px;
}

.news_card_container .news_card_width_container {
  padding: 0;
}

.news_card_container .news_card_width_container [class*=news_] {
  margin-top: 30px;
  border-radius: 3px;
  border: solid 1px #999aa2;
}

.news_card_container .news_card_width_container [class*=news_] .image_container {
  overflow: hidden;
  position: relative;
}

.news_card_container .news_card_width_container [class*=news_] .image_container img {
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
  cursor: pointer;
}

.news_card_container .news_card_width_container [class*=news_] .image_container img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: .75;
}

.news_card_container .news_card_width_container [class*=news_] .image_container img {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  width: 100%;
}

.news_card_container .news_card_width_container [class*=news_] .image_container a {
  position: absolute;
  z-index: 1;
  color: white;
  font-size: .75rem;
  line-height: 1.438rem;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #4183d7;
  width: 57px;
  height: 23px;
  padding: 0 10px;
  border: 1px #4183d7;
  top: 10px;
  right: 0px;
}

.news_card_container .news_card_width_container [class*=news_] .image_container a:hover {
  text-decoration: underline;
}

.news_card_container .news_card_width_container [class*=news_] .text_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.news_card_container .news_card_width_container [class*=news_] .text_container h3 {
  margin: 0;
  padding: 0;
}

.news_card_container .news_card_width_container [class*=news_] .text_container p {
  color: #666;
  margin-bottom: 30px;
  font-size: 15px;
}

.news_card_container .news_card_width_container [class*=news_] .text_container a {
  width: 120px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  padding: 15px;
  border-radius: 5px;
}

.news_card_container .news_card_width_container [class*=news_] .text_container .text_underline {
  height: 1px;
  width: 100%;
  margin: 30px 0px;
  background-color: #666;
}

.news_card_container .news_card_width_container [class*=news_] .text_container .publish_information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.news_card_container .news_card_width_container [class*=news_] .text_container .publish_information img {
  max-width: 50px;
  max-height: 50px;
  margin-right: 20px;
  border-radius: 100%;
}

.news_card_container .news_card_width_container [class*=news_] .text_container .publish_information > div h4 {
  margin: 0px 0px 10px;
  padding: 0;
}

.news_card_container .news_card_width_container [class*=news_] .text_container .publish_information > div p {
  padding: 0;
  margin: 0;
}

@media (min-width: 768px) {
  .news_card_container .news_card_width_container {
    margin: 0 auto;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 768px) and (min-width: 768px) {
  .news_card_container .news_card_width_container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (min-width: 768px) {
  .news_card_container .news_card_width_container [class*=news_] {
    width: 45vw;
  }
  .news_card_container .news_card_width_container [class*=news_]:last-of-type {
    display: none;
  }
}

@media (min-width: 993px) {
  .news_card_container .news_card_width_container {
    width: 975px;
  }
  .news_card_container .news_card_width_container [class*=news_] {
    width: 300px;
  }
  .news_card_container .news_card_width_container [class*=news_]:last-of-type {
    display: block;
  }
}

@media (min-width: 1218px) {
  .news_card_container .news_card_width_container {
    width: 1200px;
  }
  .news_card_container .news_card_width_container [class*=news_] {
    width: 30%;
  }
}

.newsshadow_1 {
  -webkit-box-shadow: 10px 0 20px -20px #000;
          box-shadow: 10px 0 20px -20px #000;
}

.newsshadow_2 {
  -webkit-box-shadow: 10px 0 20px -20px #000;
          box-shadow: 10px 0 20px -20px #000;
  -webkit-box-shadow: -10px 0 20px -20px #000;
          box-shadow: -10px 0 20px -20px #000;
}

.newsshadow_3 {
  -webkit-box-shadow: -10px 0 20px -20px #000;
          box-shadow: -10px 0 20px -20px #000;
}

.dropdown-display {
  visibility: hidden;
  position: absolute;
}

.dropdown-display {
  width: 80vw;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}

.dropdown-display > li {
  position: relative;
  margin-right: 5px;
  font-size: 1rem;
  text-transform: uppercase;
  color: white;
}

@media (min-width: 998px) {
  .dropdown-display > li {
    font-size: 0.8rem;
  }
}

.dropdown-display > li :nth-child(6)::after {
  background-color: transparent;
}

.dropdown-display > li li::after {
  content: "";
  position: absolute;
  right: -46px;
  top: 6px;
  margin: auto;
  width: 9px;
  height: 2px;
  display: block;
  background-color: #fff;
}

.dropdown-display > li li::after:nth-child(6) {
  background-color: transparent;
}

ul {
  list-style-type: none;
}

.nav_txtdec {
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

.hover-dropdown:hover > ul {
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.navbar-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar-container {
  z-index: 1;
  display: none;
  margin: 0 auto;
}

@media (min-width: 990px) {
  .navbar-container {
    display: block;
  }
}

.navbar-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 1px;
  padding-right: 40px;
}

.hover-dropdown {
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  width: 192.667px;
  background-color: #333645;
}

.navbar-container {
  position: relative;
  display: none;
  background-color: #333645;
}

@media (min-width: 993px) {
  .navbar-container {
    display: block;
  }
}

.navtitle_des {
  color: white;
}

.dropdown-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: -15px;
  margin-right: auto;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 100%;
  padding: 0px;
  width: 1100px;
}

.dropdown-layout > li {
  margin: auto 0;
  position: relative;
}

.dc_it {
  visibility: hidden;
  left: 0%;
  width: 100vw;
  height: 45px;
  background-color: #4183d7;
}

.dc {
  visibility: hidden;
  left: 0%;
  width: 100vw;
  height: 45px;
}

.dc_web {
  background-color: #926fb1;
}

.dc_it {
  background-color: #4183d7;
}

.dc_telecoms {
  background-color: #d64541;
}

.dc_bespoke {
  background-color: #67809f;
}

.dc_digital {
  background-color: #2ecc71;
}

.dc_cybers {
  background-color: #f62459;
}

.dc > li {
  width: 1200px;
  margin: 0 auto;
  -ms-flex-line-pack: center;
      align-content: center;
}

.dc > div {
  height: 100%;
}

.dc:hover > ul {
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  left: 40%;
}

.nav_webhover:hover {
  background-color: #926fb1;
}

.nav_webhover:hover i {
  color: white;
}

.nav_ithover:hover {
  background-color: #4183d7;
}

.nav_ithover:hover i {
  color: white;
}

.nav_telecomshover:hover {
  background-color: #d64541;
}

.nav_telecomshover:hover i {
  color: white;
}

.nav_bespokehover:hover {
  background-color: #67809f;
}

.nav_bespokehover:hover i {
  color: white;
}

.nav_digitalhover:hover {
  background-color: #2ecc71;
}

.nav_digitalhover:hover i {
  color: white;
}

.nav_cybershover:hover {
  background-color: #f62459;
}

.nav_cybershover:hover i {
  color: white;
}

.icn_web {
  color: #926fb1;
}

.icn_it {
  color: #4183d7;
}

.icn_telecoms {
  color: #d64541;
}

.icn_bespoke {
  color: #67809f;
}

.icn_digital {
  color: #2ecc71;
}

.icn_cybers {
  color: #f62459;
}

.services {
  width: calc(100vw - 18px);
}

.services .content-wrapper .flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.services .content-wrapper .flexbox [class*=card_] {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  width: 100%;
  padding: 30px;
  margin-top: 30px;
  font-size: 13px;
  border: rgba(102, 102, 102, 0.4) 1px solid;
  border-radius: 5px;
  text-align: center;
  height: 334.8px;
}

.services .content-wrapper .flexbox [class*=card_]:hover {
  cursor: pointer;
}

.services .content-wrapper .flexbox [class*=card_] i {
  display: block;
  font-size: 20px;
  line-height: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 auto;
}

.services .content-wrapper .flexbox [class*=card_] .icon_underline {
  background-color: #333645;
  width: 30px;
  height: 3px;
  margin: 0px auto 0;
}

.services .content-wrapper .flexbox [class*=card_] h3 {
  font-weight: 500;
}

.services .content-wrapper .flexbox [class*=card_] p {
  font-weight: 200;
}

.services .content-wrapper .flexbox [class*=card_] h3, .services .content-wrapper .flexbox [class*=card_] p {
  color: #333645;
}

.services .content-wrapper .flexbox [class*=card_] a {
  display: block;
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 129px;
  height: 46px;
  line-height: 46px;
  text-decoration: none;
  border-radius: 3px;
  margin: 0 auto 10px;
  font-size: 17px;
  cursor: pointer;
}

.services .content-wrapper .flexbox [class*=card_]:hover i, .services .content-wrapper .flexbox [class*=card_]:hover a, .services .content-wrapper .flexbox [class*=card_]:hover .icon_underline {
  background-color: white;
}

.services .content-wrapper .flexbox [class*=card_]:hover h3, .services .content-wrapper .flexbox [class*=card_]:hover p {
  color: white;
}

@media (min-width: 768px) {
  .services .content-wrapper {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
  }
  .services .content-wrapper .flexbox {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: top;
        align-content: top;
  }
  .services .content-wrapper .flexbox .card_web,
  .services .content-wrapper .flexbox .card_telecoms,
  .services .content-wrapper .flexbox .card_cybers {
    width: 345px;
    height: 309px;
  }
}

@media (min-width: 993px) {
  .services .content-wrapper {
    width: 975px;
  }
  .services .content-wrapper .flexbox .card_bespoke,
  .services .content-wrapper .flexbox .card_it,
  .services .content-wrapper .flexbox .card_digital {
    width: 293px;
    height: 351px;
  }
  .services .content-wrapper .flexbox .card_web,
  .services .content-wrapper .flexbox .card_telecoms,
  .services .content-wrapper .flexbox .card_cybers {
    width: 455px;
    height: 287px;
  }
}

@media (min-width: 1218px) {
  .services .content-wrapper {
    width: 1200px;
  }
  .services .content-wrapper .flexbox .card_bespoke,
  .services .content-wrapper .flexbox .card_it,
  .services .content-wrapper .flexbox .card_digital {
    width: 370px;
    height: 309px;
  }
  .services .content-wrapper .flexbox .card_web,
  .services .content-wrapper .flexbox .card_telecoms,
  .services .content-wrapper .flexbox .card_cybers {
    width: 270px;
    height: 309px;
  }
}

.btn {
  background-position-x: right;
  display: inline;
  padding: 5px 15px;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
  font-size: 17.008px;
  text-align: center;
  letter-spacing: 0.4px;
  line-height: 35px;
}

.content-wrapper {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
}

.content-sizing {
  margin: 0 auto;
  height: 100%;
  width: 100vw;
}

@media (min-width: 998px) {
  .content-sizing {
    width: 100vw;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (min-width: 1218px) {
  .content-sizing {
    margin: 0 auto;
    width: 1200px;
  }
}

body {
  background-color: #fff;
  overflow: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.nodec {
  text-decoration: none;
}

.formcontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user_name {
  display: inline-block;
}

.newsform {
  background: #666;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.form-background {
  background-color: #ddd;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.form-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-title {
  font-size: 1.5rem;
  font-weight: 400;
}

.form-title h2 {
  font-weight: 400;
}

.form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form-wrapperout {
  padding: 20px 30px 50px;
}

.user_name {
  width: 285px;
}

@media (min-width: 768px) {
  .query_form_n {
    width: 100%;
    margin-right: 0;
  }
}

@media (min-width: 998px) {
  .query_form_n {
    margin-right: 20px;
  }
}

@media (min-width: 1218px) {
  .query_form_n {
    margin-right: 0;
    width: 45%;
    float: left;
  }
}

@media (min-width: 768px) {
  .query_form_e {
    width: 100%;
    margin-right: 0;
  }
}

@media (min-width: 1218px) {
  .query_form_e {
    width: 45%;
    float: left;
    margin-left: 5%;
  }
}

@media (min-width: 1218px) {
  .query_form_c {
    float: right;
  }
}

.user_name {
  width: 100%;
  height: 47px;
  margin-bottom: 30px;
}

.user_name:focus {
  border: #5bc0de;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(91, 192, 222, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(91, 192, 222, 0.6);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.user_email {
  width: 100%;
  height: 47px;
  margin-bottom: 30px;
}

.user_email:focus {
  border: #5bc0de;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(91, 192, 222, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(91, 192, 222, 0.6);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.user_checkbox {
  background-color: #ddd;
  border: 3px solid #333645;
  border-radius: 3px;
  height: 32px;
  width: 32px;
  float: left;
  margin-right: 20px;
}

.user_checkboxinput:checked ~ .checkmark:after {
  background-color: #333645;
  color: white;
}

.checkbox_text {
  width: 80%;
  float: right;
  letter-spacing: .4px;
  line-height: 32px;
  font-size: 1rem;
  font-weight: bold;
}

@media (min-width: 768px) {
  .checkbox_text {
    float: left;
  }
}

@media (min-width: 1218px) {
  .checkbox_text {
    margin-top: -8px;
  }
}

.required {
  color: red;
}

.submit_btn {
  margin-top: 20px;
  background-color: #333645;
  color: white;
  border: 1px solid #333645;
  border-radius: 3px;
  text-transform: uppercase;
  padding: 10px 20px;
  font-size: 1.063rem;
}

@media (min-width: 768px) {
  .submit_btn {
    margin-top: 40px;
  }
}

@media (min-width: 1218px) {
  .submit_btn {
    margin-top: 60px;
    float: left;
  }
}

.submit_btn:hover {
  background-color: #22242e;
  cursor: pointer;
}

.check_container {
  display: block;
  position: relative;
  padding-left: 60px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 80%;
  float: right;
  letter-spacing: 1px;
  line-height: 32px;
  font-size: 1rem;
  font-weight: 500;
}

@media (min-width: 768px) {
  .check_container {
    float: left;
  }
}

@media (min-width: 1218px) {
  .check_container {
    margin-top: -8px;
  }
}

/* Hide the browser's default checkbox */
.check_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ddd;
  border: 3px solid #333645;
  border-radius: 3px;
  height: 32px;
  width: 32px;
  float: left;
  margin-right: 20px;
}

/* When the checkbox is checked, add a blue background */
.check_container input:checked ~ .checkmark {
  background-color: #333645;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check_container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check_container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.logo-background {
  padding: 50px 0px;
  -webkit-box-shadow: inset 0px 20px 19px rgba(102, 102, 102, 0.09);
          box-shadow: inset 0px 20px 19px rgba(102, 102, 102, 0.09);
  display: none;
}

@media (min-width: 768px) {
  .logo-background {
    display: block;
  }
}

.logo-wrapper {
  padding: 50px;
  max-width: 1200px;
}

@media (min-width: 768px) {
  .logo-wrapper {
    padding: 15px;
    max-width: 100%;
  }
}

@media (min-width: 993px) {
  .logo-wrapper {
    margin: 0 15px;
    padding: 0 15px;
  }
}

@media (min-width: 1218px) {
  .logo-wrapper {
    margin: 0 auto;
  }
}

[class*=image_box_] img:first-of-type {
  display: block;
}

[class*=image_box_] img:last-of-type {
  display: none;
}

[class*=image_box_]:hover img:first-of-type {
  display: none;
}

[class*=image_box_]:hover img:first-of-type .tooltip:hover .tooltiptext {
  visibility: visible;
}

[class*=image_box_]:hover img:last-of-type {
  display: block;
}

.image_busseys {
  width: 121.15px;
}

@media (min-width: 993px) {
  .image_busseys {
    width: 168.75px;
  }
}

@media (min-width: 1218px) {
  .image_busseys {
    width: 188px;
  }
}

.image_crane {
  width: 184.95px;
}

@media (min-width: 993px) {
  .image_crane {
    width: 257.6px;
  }
}

@media (min-width: 1218px) {
  .image_crane {
    width: 287px;
  }
}

.image_beat {
  width: 46.4px;
}

@media (min-width: 993px) {
  .image_beat {
    width: 64.63px;
  }
}

@media (min-width: 1218px) {
  .image_beat {
    width: 72px;
  }
}

.image_northerndiver {
  width: 207.5px;
}

@media (min-width: 993px) {
  .image_northerndiver {
    width: 289.017px;
  }
}

@media (min-width: 1218px) {
  .image_northerndiver {
    width: 322px;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #333645;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 2px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  width: 260px;
  bottom: 170%;
  left: 10%;
  margin-left: -60px;
}

.tooltip .tooltiptext p {
  font-size: 13px;
  line-height: 1.5rem;
}

.tooltip2 .tooltiptext2 {
  visibility: hidden;
  width: 260px;
  background-color: #333645;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 2px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  width: 260px;
  bottom: 100%;
  left: 10%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip:hover .tooltip:nth-child(1)::after {
  visibility: visible;
}

.logo_line {
  margin: 0 auto;
  background-color: white;
  width: 25px;
  height: 3px;
}

.tooltip .tooltiptext:nth-child(1)::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 30px;
  border-style: solid;
  border-color: #333645 transparent transparent transparent;
  bottom: -60px;
  left: 100px;
}

.tooltip .tooltiptext:nth-child(2)::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 30px;
  border-style: solid;
  border-color: #333645 transparent transparent transparent;
  top: -49px;
  left: 100px;
}

.tooltip .tooltiptext:nth-child(3)::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 30px;
  border-style: solid;
  border-color: #333645 transparent transparent transparent;
  top: -49px;
  left: 10px;
}

.tooltip .tooltiptext:nth-child(4)::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 30px;
  border-style: solid;
  border-color: #333645 transparent transparent transparent;
  top: -49px;
  left: 132px;
}

.accreditations-background {
  height: 300px;
  padding-top: 30px;
}

.accreditations-wrapper {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.accreditations-wrapper > div {
  padding: 0px 50px;
}

footer {
  background-color: #333645;
  height: 100%;
}

footer h4 {
  text-transform: uppercase;
}

@media (min-width: 768px) {
  footer {
    height: 568px;
  }
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: white;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 47px 5px 43px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  margin: 0 5px;
}

@media (min-width: 1218px) {
  .footer-content {
    margin: 0 auto;
  }
}

.footer-contact {
  padding: 0px 15px;
}

.footer-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 15px;
}

.footer-about-dec {
  text-decoration: none;
  color: white;
  line-height: 1.375rem;
}

.footer-site {
  text-decoration: none;
  padding: 0px 15px;
}

.footer-social {
  padding: 0px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 250px;
}

.footer-social-facebook {
  background: transparent;
  background-color: rgba(0, 0, 0, 0.25);
  display: block;
  font-size: 1.75rem;
  line-height: 3.438rem;
  color: white;
  text-align: center;
  text-decoration: none;
  width: 104.5px;
  height: 55px;
  margin-right: 5px;
}

.footer-social-facebook:hover {
  background-color: #3b5998;
}

.footer-social-twitter {
  background: transparent;
  margin-top: 0px;
  background-color: rgba(0, 0, 0, 0.25);
  display: block;
  font-size: 1.75rem;
  line-height: 3.438rem;
  color: white;
  text-align: center;
  text-decoration: none;
  width: 104.5px;
  height: 55px;
  margin-left: 5px;
}

.footer-social-twitter:hover {
  background-color: #1DA1F2;
}

.footer-social-linkedin {
  background: transparent;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.25);
  display: block;
  font-size: 1.75rem;
  line-height: 3.438rem;
  color: white;
  text-align: center;
  text-decoration: none;
  width: 104.5px;
  height: 55px;
}

.footer-social-linkedin:hover {
  background-color: #0072b1;
}

.footer-sbutton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-list {
  list-style-type: none;
  padding: 0px;
}

.icon-des {
  padding: 10px;
  margin: 10px;
}
/*# sourceMappingURL=style2.css.map */