

.about{
    background-image: url("../../Images/branded.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-color: $grey;
    background-position: right;
    width: 100%;
    text-align: start;
}

.aboutContent{
    padding: 50px 15px 90px;
    color: $secondary;
    font-size: 16px;
    text-align: start;
    line-height: 1.875rem;
    i{
        margin-left: 12px;
        margin-right: -4px;
        // font-weight: 400;
    }
}

.aboutdesc{
    padding: 0px 15px;
    text-align: start;
}

.ourCult{
    background-color: $secondary;
    color: $grey;
    &:hover{
        background-color: #ebebeb;
        border-color: #e0e0e0;
    }
}

// .ourCult::after{
//     content: ' &#xf061;';
// }

.ahead{
    font-size: 36px;
    font-weight: 500;
    // padding: 10px 15px;
    padding: 10px 0;
}

.marginbot{
    margin-bottom: 25px;
    @media (min-width: 1218px){
        width: 50%;
    } 
}

.ap1{
    font-weight: 500;
}

buttons{
    .upblubtn{
        background-color: $blue2;
    }

    .uppurpbtn{
        background-color: $primary;
    }
}