.banner{
    height: 70vh;
    background-image: url("../Images/sliderplaceholder.png");
    background-size: cover;
}

.banner-text{
    color: $secondary;

}

.banner-section{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
}

.banbtn{
    background-color: $blue2;
    border: 1px $blue2 solid;
}