.banner{
    height: 70vh;
    background-image: url("../Images/sliderplaceholder.png");
    background-size: cover;
}

.banner-text{
    color: $secondary;
    font-size: 1.25rem;
    line-height: 2.2rem;
    letter-spacing: .4px;
    text-align: center;
    @media (min-width:998px){
        text-align: left;
    }
}

.banner-section{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    margin-right: auto;
    margin-left: auto;
    @media (min-width:998px){
        margin-left: 0px;
    }
}

.banner-btn{
    text-align: center;
    @media (min-width:998px){
        text-align: left;
    }
}
    

.banbtn{
    background-color: $primary;
    border: 1px $primary solid;
    &:hover{
        background-color: $primaryhov;
        border-color: $primaryhov;
    }
    
}

.tint{
    z-index: 0;
    height: 70vh;
    width: 100%;
    position: absolute;
    top: 145px;
    left: 0px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 3%, rgba(0,0,0,0) 100%);
    @media (min-width:998px){
        top: 115px;
    }
    @media (min-width:1218px){
        top: 222px;
    }
}