
$primary    :#926fb1;
$secondary  :#fff;
$offwhite   :#f1f1f1;
$grey       :#333645;
$lightgrey  :#666;
$lightgrey2 :#999aa2;
$blue1      :#67809f;
$blue2      :#4183d7;
$green      :#2ecc71;
$red1       :#d64541;
$red2       :#f62459;


$colours: (
    web  #926fb1 #79539a,
    it  #4183d7 #286abd,
    telecoms  #d64541 #bc2c28,
    bespoke  #67809f #526781,
    digital  #2eec71 #25a25a,
    cybers  #f62459 #de093f,
);