
footer{
    background-color: $grey;
    height: 100%;
    @media (min-width:768px){
        height: 568px;
    }
}

.footer{
    &-content{
        display: flex;
        flex-direction: row;
        color: white;
        justify-content: space-evenly;
        padding: 47px 5px 43px;
        flex-wrap: wrap;
        height: 100%;
        margin: 0 5px;
        @media (min-width:1218px){
            margin: 0 auto;
        }
    }
    &-contact{
        padding: 0px 15px;
    }
    &-about{
        display: flex;
        flex-direction: column;
        padding: 0px 15px;
        &-dec{
            text-decoration: none;
            color: white;
            line-height: 1.375rem;
        }
        // @media (min-width:998px){
        //     margin-left: 100px;
        // }
        // @media (min-width:1208px){
        //     margin-left: 0px;
        // }
    }
    &-site{
        text-decoration: none;
        padding: 0px 15px;

    }
    &-social{
        padding: 0px 15px;
        display: flex;
        flex-direction: column;
        width: 250px;
        &-facebook{
            background: transparent;
            background-color: rgba(0, 0, 0, .25);
            display: block;
            font-size: 1.75rem;
            line-height: 3.438rem;
            color: white;
            text-align: center;
            text-decoration: none;
            width: 104.5px;
            height: 55px;
            margin-right: 5px;
            &:hover{
                background-color: #3b5998;
            }
        }

        &-twitter{
            background: transparent;
            margin-top: 0px;
            background-color: rgba(0, 0, 0, .25);
            display: block;
            font-size: 1.75rem;
            line-height: 3.438rem;
            color: white;
            text-align: center;
            text-decoration: none;
            width: 104.5px;
            height: 55px;
            margin-left: 5px;
            &:hover{
                background-color: #1DA1F2;
            }
        }
        &-linkedin{
            background: transparent;
            margin-top: 10px;
            background-color: rgba(0, 0, 0, .25);
            display: block;
            font-size: 1.75rem;
            line-height: 3.438rem;
            color: white;
            text-align: center;
            text-decoration: none;
            width: 104.5px;
            height: 55px;
            &:hover{
                background-color: #0072b1;
            }
        }
    }
    &-sbutton{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

    }
    &-list{
        list-style-type: none;
        padding: 0px;
    }
}

.icon{
    &-des{
        padding: 10px;
        margin: 10px;
    }
}
