

// #region


.latestContainer{
    background-color: $secondary;
    justify-content: left;
    border-bottom: $lightgrey 1px solid;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 35px 0px;
}

.latestHeader{
    color: $grey;
    border-bottom: $grey 5px solid;
    max-width: fit-content;
    text-align: left;
    margin-left: 15%;
    padding: 30px 0px;
}

.jl{
    justify-content: left;
}

.news_card_container {
    padding-bottom: 50px;

    .news_card_width_container {
        padding: 0 20px;

        [class*=news_] {
            margin-top: 30px;
            border-radius: 11px;
            border: solid 1px $lightgrey2;

            .image_container {
                overflow: hidden;
                position: relative;

                img{
                    transition: transform .5s ease;
                    &:hover{
                        transform: scale(1.1);
                        opacity: .75;
                    }
                }

                img {
                    border-top-left-radius: 11px;
                    border-top-right-radius: 11px;
                    width: 100%;
                }

                a{
                    position: absolute;
                    z-index: 1;
                    color: white;
                    font-size: .75rem;
                    line-height: 1.438rem;
                    text-transform: uppercase;
                    font-weight: 600;
                    background-color: $blue2;
                    width: 57px;
                    height: 23px;
                    padding: 0 10px;
                    border: 1px $blue2;
                    top: 10px;
                    right: 0px;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }

            .text_container {
                display: flex;
                flex-direction: column;
                padding: 20px;

                h3 {
                    margin: 0;
                    padding: 0;
                }

                p {
                    color: $lightgrey;
                    margin-bottom: 30px;
                }

                a {
                    width: 110px;
                    text-decoration: none;
                    // display: block;
                    text-transform: uppercase;
                    color: white;
                    padding: 10px;
                    border-radius: 2px;
                    // background-color: grey;
                }

                .text_underline{
                    height: 1px;
                    width: 100%;
                    margin: 30px 0px;
                    background-color: $lightgrey;
                }
                .publish_information{
                    display: flex;
                    flex-direction: row;
                    // justify-content: space-between;
                    img {
                        max-width: 50px;
                        max-height: 50px;
                        margin-right: 20px;
                        border-radius: 100%;
                    }

                    & > div {
                        h4 {
                            margin: 0px 0px 10px;
                            padding: 0;

                        }
                        p {
                            padding: 0;
                            margin: 0;
                        }
                    }
                    
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .news_card_container {
        .news_card_width_container {
            margin: 0 auto;
            width: 100vw;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            [class*=news_] {
                width: 45vw;
            }

            [class*=news_]:last-of-type {
                display: none;
            }
        }
    }
}

@media (min-width: 993px) {
    .news_card_container{
        .news_card_width_container{
            width: 975px;

            [class*=news_]{
                width: 300px;
            }

            [class*=news_]:last-of-type{
                display: block;
            }
        }
    }
}

@media (min-width: 1218px) {
    .news_card_container{
        .news_card_width_container{
            width: 1200px;

            [class*=news_]{
                width: 30%;
                //24vw
            }
        }
    }
}

.newsshadow{
    &_1{
        box-shadow: 10px 0 20px -20px #000;
    }
    &_2{
        box-shadow: 10px 0 20px -20px #000;
        box-shadow: -10px 0 20px -20px #000;
    }
    &_3{
        box-shadow: -10px 0 20px -20px #000;
    }
}

