.img{
    &-change1bw{
      display: block;
    }
    &-change1bw:hover{
        display: none;
    }
    &-change1{
        display: none;
    }
    &-change1:hover{
        display: block;
    }
    &-change2bw{
        display: block;
    }
    &-change2bw:hover{
        display: none;
    }
    &-change2{
        display: none;
    }
    &-change2:hover{
        display: block;
    }
    &-change3bw{
        display: block;
    }
    &-change3bw:hover{
        display: none;
    }
    &-change3{
        display: none;
    }
    &-change3:hover{
        display: block;
    }
    &-change4bw{
        display: block;
    }
    &-change4bw:hover{
        display: none;
    }
    &-change4{
        display: none;
    }
    &-change4:hover{
        display: block;
    }
}

.logo{
    &-background{
        padding: 50px;
        box-shadow: inset 0px 20px 19px rgba(102,102,102,0.09);
    }
    &-flex{
        @include flexbox;
        flex-direction: row;
        justify-content: space-evenly;
    }
}