
//    web    #926fb1    #79539a
@each $name, $color, $hover_color in $colours {
    .card_#{$name} {
            i { 
                color: white;
                background-color: $color
            }
    
            a {
                color: white;
                background-color: $color;
            }

        &:hover {
            background-color: $color;

            i, a {
                color: $color;
            }
        }
    }

    .news_#{$name} {
        .text_container{
            
            h3{
                color: $color;
            }
            a {
                background-color: $color;
                &:hover {
                    background-color: $hover_color;
                }
            }
        }
        
    }
}

