#main_nav {
    display: none;
}

body{
    transition: .5s;
}

 /* The sidebar menu */
 .sidebar {
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    display: block;
    width: 0;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    @media(min-width:1208px){
        width: 0;
    }
  }
  
  /* The sidebar links */
  .sidebar a {
    color: white;
    // background-color: rgba(0,0,0,.25);
    display: flex;
    transition: 0.3s;
    height: 51px;
    border-top: 1px solid hsla(0,0%,100%,.1);
    border-bottom: 1px solid rgba(0,0,0,.25);
    width: 100%;
    // background-color: #22242e;
    text-transform: uppercase;
    align-items: center;
    padding-left: 20px;
    letter-spacing: .4px;
  }

 .sidebar ul{
     margin: 0px;
     padding: 0px;
 }

  .sidebar li {
      height: 51px;
      border-top: 1px solid rgba(0,0,0,.45);
      background-color: #333645;
      
  }
  
  .subMenu{
        font-size: 13px;
        // background-color:rgb(0,0,0);opacity:0.8;
        background-color:#22242e;
    &::before{
        margin-right: 20px;
        content: '\BB';
    }
}

.subTitle{
    // background-color: #333645;
    font-size: 17px;
    // opacity: 0.6;
    background-color: #333645;
    opacity: 0.9;
    // background-color:rgb(51,54,69);opacity:0.8;
}
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover, a:active{
    opacity: 1;
  }

  .sidebar a:hover .subtitle{
      opacity: 1;
  }
    
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 25px;
    cursor: pointer;
    background-color: transparent;
    color: black;
    border: none;
  }
  
  .openbtn:hover {
    background-color: transparent;
  }

  .nav-container{
      position: absolute;
      top: 0;
      width: 100%;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  } 