#main_nav {
    display: none;
}

// body{
//     transition: .5s;
// }



.main-sidenav{
  display: block;
  margin-top: 2817px;
  @media(min-width:998px){
    margin-top: 0px;
  }
}

 /* The sidebar menu */
 .sidebar {
    overflow-x: hidden; /* Disable horizontal scroll */
    // padding-top: 60px; /* Place content 60px from the top */
    // transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    display: block;
    width: 0;
    height: 100%;
    background-color: #333645;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    @media(min-width:1208px){
        width: 0;
    }
  }
  
  /* The sidebar links */
  .sidebar a {
    color: white;
    // background-color: rgba(0,0,0,.25);
    display: flex;
    transition: 0.3s;
    height: 51px;
    border-top: 1px solid hsla(0,0%,100%,.1);
    border-bottom: 1px solid rgba(0,0,0,.25);
    width: 100%;
    // background-color: #22242e;
    text-transform: uppercase;
    align-items: center;
    padding-left: 20px;
    letter-spacing: .4px;
  }

 .sidebar ul{
     margin: 0px;
     padding: 0px;
 }

  .sidebar li {
      height: 51px;
      border-top: 1px solid rgba(0,0,0,.45);
      background-color: #333645;
      cursor: pointer;
  }

  .subMenu{
        font-size: 13px;
        // background-color:rgb(0,0,0);opacity:0.8;
        background-color:#22242e;
    &::before{
        margin-right: 20px;
        content: '\BB';
    }
}

.subTitle{
    // background-color: #333645;
    font-size: 17px;
    // opacity: 0.6;
    background-color: #333645;
    opacity: 0.9;
    // background-color:rgb(51,54,69);opacity:0.8;
}
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover, a:active{
    opacity: 1;
  }

  .sidebar a:hover .subtitle{
      opacity: 1;
  }
    
  .menu-hover{
    &:hover{
    > a:nth-child(1){
        background-color: hsla(0,0%,100%,.1);
      }
      
    }
    
  }

  /* The button used to open the sidebar */
  .openbtn {
    font-size: 25px;
    cursor: pointer;
    background-color: transparent;
    color: black;
    border: none;
  }
  
  .openbtn:hover {
    background-color: transparent;
  }

  .nav-container{
      position: absolute;
      top: 0;
      width: 100%;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  } 

  ///Mobile menu classes

  .mobile-container{
    display: block;
    height: fit-content;
    padding-top: 10px;
    @media(min-width:998px){
      display: none;
    }
  }

  #mobile-menu{
    display: block;
    background-color:#333645;
    @media(min-width:998px){
      display: none;
    }
    &-container{
      width: 80%;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
    }
    
  }

.mobile-contact{
  padding:19px 0 18px;
  &:hover{
    background-color: hsla(0,0%,100%,.1);
  }
}

  .mobile-minimenu{
    border: 1px solid white;
    display: flex;
    flex-direction: column;
  }



  #mobile-headbtn{
    font-size: 1.125rem;
    border-radius: 3px;
    padding-left: 0px;
    border: 1px solid rgba(0,0,0,.25);
    outline: 1px solid hsla(0,0%,100%,.1);
    margin: 10px 0;
    height: max-content;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

.mobile-hover{
  >a:nth-child(1){
    padding-top: 19px;
  }
  &:hover{
  > a:nth-child(1){
      background-color: hsla(0,0%,100%,.1);
    }
    
  }
  
}

  #mobile-list{
    border: 1px solid transparent;
    border-radius: 3px;
    > li{
      background-color: rgba(0,0,0,.25);
      cursor: pointer;
      &:first-child{
        border-radius: 3px 3px 0 0;
        > a{
          border-top: none;
        }
      }
      &:last-child{
        border-radius: 0 0 3px 3px;
        border-bottom: none;
        > a{
          border-bottom: none;
        }
      }
      > a{
        text-align: center;
        justify-content: center;
        padding: 0px;
      }
    }
  }
  // .stickyscroll::-webkit-scrollbar{
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  // }

  // .stickyscrollnav::-webkit-scrollbar{
  //   position: absolute;
  //   top: 0;
  //   right: 275px;
  //   @media(min-width:992px){
  //     right: 350px;
  //   }
  // }