
$primary    :#926fb1;
$secondary  :#fff;
$offwhite   :#f1f1f1;
$grey       :#333645;
$lightgrey  :#666;
$lightgrey2 :#999aa2;
$blue1      :#67809f;
$blue2      :#4183d7;
$green      :#2ecc71;
$red1       :#d64541;
$red2       :#f62459;
