.formcontent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.user_name{
    display: inline-block;
}

.newsform{
    background: $lightgrey;
}