.latestContainer{
    background-color: $secondary;
    width: 100%;
    border-bottom: $lightgrey 1px solid;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 35px 0px;
}

.latestHeader{
    color: $grey;
    border-bottom: $grey 5px solid;
    max-width: fit-content;
    text-align: center;
    margin-left: 15%;
    padding: 40px 0px;
}

.img{
    &-upd1{
        background: $white url("../Images/upd1-img.jpg") no-repeat center; 
    }
    &-upd2{
        background: $white url("../Images/upd2-img.jpg") no-repeat center; 
    }
    &-upd3{
        background: $white url("../Images/upd3-img.jpg") no-repeat center; 
    }
    &-des{
        width: 100%;
        background-repeat: no-repeat;
        padding-top: 68%;
        background-size: cover;
        background-position: 50%;
    }
}

.upbluhead{
    color: $blue2;
    font-size: 16px;
}

.uppurphead{
    color: $primary;
    font-size: 16px;
}

.updp{
    font-size: 13px;
    color: $lightgrey;
}

.flex{
    &-direction{
        display: flex;
        flex-direction: row;
    }
}

.cards{
    &-decoration{
        border: 1px $primary solid;
}