/* This is the universal section of the CSS */

body{
    background-color: $secondary;
    overflow: auto;
    font-family: 'Poppins', sans-serif;
}

.content-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    margin: 0px 20px;
    height: 100%;
  }

/* -------------- */
/* The button's on the page */
.supBtn{
    display: inline;
    background-color: $blue2;
    padding: 5px 15px;
    border: $offwhite 1px solid;
    border-radius: 3px;
    color: $secondary;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    margin-left: 20px;
}

.contBtn{
    background-color: $lightgrey2;
    padding: 5px 15px;
    border: $offwhite 1px solid;
    border-radius: 3px;
    color: $secondary;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
}

.btn{
    background-position-x: right;
    display: inline;
    padding: 5px 15px;
    border: $offwhite 1px solid;
    border-radius: 3px;
    color: $secondary;
    text-decoration: none;
    font-size: 17.008px;
    text-align: center;
    letter-spacing: 0.4px;
    line-height: 35px;
}


.besBtn{
    background-color: $blue1;
}

.itBtn{
    background-color: $blue2;
}

.digBtn{
    background-color: $green;
}

.teleBtn{
    background-color: $red1;
}

.webBtn{
    background-color: $primary;
}

.cybBtn{
    background-color: $red2;
}

.devBtn{
    background-color: $primary;
}

.outCult{
    background-color: $secondary;
    color: $grey;
}

.upblubtn{
    background-color: $blue2;
}

.uppurpbtn{
    background-color: $primary;
}

.banbtn{
    background-color: $primary;
}

/* Banners */

.latestContainer{
    background-color: $secondary;
    width: 100%;
    border-bottom: $lightgrey 1px solid;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 35px 0px;
}

.latestHeader{
    color: $grey;
    border-bottom: $grey 5px solid;
    max-width: fit-content;
    text-align: center;
    margin-left: 15%;
    padding: 40px 0px;
}

/* ----------------- */
/* Cards */

/* .services{
    width: 100%;
}

.flexbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;   
}

.card{
    margin: 15px;
    padding: 15px;
    border: rgba(102,102, 102, 0.4) 1px solid;
    border-radius: 5px;
    box-shadow: 0px 3px 35px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #fff;
    font-size: 13px;
} */

/* .widthnarrow{
    max-width: 16.5%;
    min-width: 283px;
}

.widthwide{
    max-width: 22%;
    min-width: 283px;
} */

// .bSoftware:hover{
//     background-color: $blue1;
// }

// .besBtn:hover{
//     color: $blue1;
//     background-color: $secondary;
// }    

// .itSup:hover{
//     background-color: $blue2;
// }

// .itBtn{
//     color: $blue2;
//     background-color: $secondary;
// }

// .digMark:hover{
//     background-color: $green;
// }

// .teleServ:hover{
//     background-color: $red1;
// }

// .webDes:hover{
//     background-color: $primary;
// }

// .cybSec:hover{
//     background-color: $red2;
// }

// .devTrain:hover{
//     background-color: $primary;
// }

/* ----------------- */
/* Latest banner */


/* ----------------- */

/* about  us bits to be organised */
.about{
    background-color: $grey;
    text-align: start;
    width: 100%;
}

.aboutContent{
    padding: 50px 15px;
    margin: 0px 82px;
    background-color: $grey;
    color: $secondary;
    font-size: 16px;
    max-width: 45%;
    text-align: start;
}

.aboutdesc{
    padding: 0px 15px;
    text-align: start;
}  

.ahead{
    font-size: 36px;
    font-weight: 500;
}

.marginbot{
    margin-bottom: 25px;
}

.ap1{
    /* margin-bottom: 25px; */
    font-weight: 500;
}

.ourCult{
    background-color: $secondary;
    color: $grey;
}

.ourCult::after{
    content: ' \2192';
}

.upbluhead{
    color: $blue2;
    font-size: 16px;
}

.uppurphead{
    color: $primary;
    font-size: 16px;
}

.updp{
    font-size: 13px;
    color: $lightgrey;
}



.navsmall{
    font-size: 10px;
}

.navbox{
    display: flex;
    border-left: 1px solid black;
    border-right: 1px solid black ;
    color: $secondary;
    line-height: 5px;
    justify-content: center;
    align-items: center;
}

.nodec{
    text-decoration: none;
}

.headerpad{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.circback{
    border: $secondary 0px;
    padding: 10px;
    border-radius: 50%;
}
.nav1:hover{
    background-color: $primary;
}


/* .icon{
    padding: 10px;
    border-radius:100%;
    background-color: red;
} */
/* ------------------ */