.services{
    width: 100%;
}

.flexbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;   
}

.card{
    margin: 15px;
    padding: 15px;
    border: rgba(102,102, 102, 0.4) 1px solid;
    border-radius: 5px;
    box-shadow: 0px 3px 35px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: white;
    font-size: 13px;
}

.circback{
    border: $secondary 0px;
    padding: 15px;
    border-radius: 50%;
}

.width{
    &-1{
        @media (min-width: map-get($breakpoints, 'l')) {
            max-width: 33%;
          }
    }
    &-2{
        @media (min-width: map-get($breakpoints, 'l')) {
            max-width: 25%;
          } 
    }
}


hover_functions{
    .bSoftware:hover{
        background-color: #67809f;
        .besBtn:hover{
            color: #67809f;
            background-color: white;
        }    
    }

    .itSup:hover{
        background-color: #4183d7;
        .itBtn{
            color: #4183d7;
            background-color: white;
        }
    }

    .digMark:hover{
        background-color: #2ecc71;
        .digBtn{
            color: #2ecc71;
            background-color: white;
        }
    }

    .teleServ:hover{
        background-color: #d64541;
        .teleBtn{
            color: #d64541;
            background-color: white;
        }
    }

    .webDes:hover{
        background-color: #926fb1;
        .webBtn{
            color: #926fb1;
            background-color: white;
        }
    }

    .cybSec:hover{
        background-color: #f62459;
        .cybBtn{
            color: #f62459;
            background-color: white;
        }
    }

    .devTrain:hover{
        background-color: #926fb1;
        .devBtn{
            color: #926fb1;
            background-color: white;
        }
    }
}


button_colors{
    .besBtn{
        background-color: $blue1;
    }
    
    .itBtn{
        background-color: $blue2;
    }
    
    .digBtn{
        background-color: $green;
    }
    
    .teleBtn{
        background-color: $red1;
    }
    
    .webBtn{
        background-color: $primary;
    }
    
    .cybBtn{
        background-color: $red2;
    }
    
    .devBtn{
        background-color: $primary;
    }

}


