.btn{
    background-position-x: right;
    display: inline;
    padding: 5px 15px;
    border: #f1f1f1 1px solid;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
    font-size: 17.008px;
    text-align: center;
    letter-spacing: 0.4px;
    line-height: 35px;
}

.content-wrapper {
    @include flexbox;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    margin: 0px 15px;
    height: 100%;
}

body{
    background-color: #fff;
    overflow: auto;
    font-family: 'Poppins', sans-serif;
}